body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.gradation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
}
.gradation::before{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(0deg, black, rgba(0,0,0,0.5) 5%, transparent 15%);
}
.background-image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.loading-spinner {
    display: inline-block; /* テキストと同じ行に表示 */
    width: 20px; /* スピナーのサイズ */
    height: 20px; /* スピナーのサイズ */    
    border: 4px solid #e3e3e3; /* スピナーの枠 */
    border-top: 4px solid #808080; /* スピナーの色が変わる部分 */
    border-radius: 50%; /* 円形にする */
    margin-right: 10px; /* メッセージとの間にスペースを空ける */
    vertical-align: middle; /* テキストとスピナーの縦位置を合わせる */
    animation: spin 1s linear infinite; /* 1秒で1回転、無限に繰り返す */
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    transform: translate(-50%, -50%); 
  }