body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.background-image{
  background-image: url('image/background_dark.jpg');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
}

.loading-spinner {
    display: inline-block; /* テキストと同じ行に表示 */
    width: 20px; /* スピナーのサイズ */
    height: 20px; /* スピナーのサイズ */    
    border: 4px solid #e3e3e3; /* スピナーの枠 */
    border-top: 4px solid #808080; /* スピナーの色が変わる部分 */
    border-radius: 50%; /* 円形にする */
    margin-right: 10px; /* メッセージとの間にスペースを空ける */
    vertical-align: middle; /* テキストとスピナーの縦位置を合わせる */
    animation: spin 1s linear infinite; /* 1秒で1回転、無限に繰り返す */
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    transform: translate(-50%, -50%); 
  }